body {
    background-color: rgb(238, 236, 228);
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100vw;
}

ul li {
    float: right;
}

ul li a {
    display: block;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-family: "coolvetica", sans-serif;
    color: darkslategray;
    transition: .5s;
    font-size: 22px;

}

ul li a:hover {

    color: #6c9e99;

}

.container {
    height: 100vh;
    width: 75vw;
    margin: auto;
    display: grid;
    padding-top: 150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.header {
    grid-column: 2;
    grid-row: 1;
    font-family: "warbler-deck", sans-serif;
    color: #6c9e99;
    font-size: 40px;
    padding-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.profile {
    grid-column: 1;

    grid-row: 2/5;

    img {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;


    }
}

.description {
    grid-column: 2;
    grid-row: 2/6;
    padding-left: 30px;
    font-family: "warbler-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

.audioone {
    video {
        width: 100%;
        height: 100%;

    }

    grid-column: 1;
    grid-row: 5/8;
    background-color: white;
    border-radius: 20px;
    height: 80%;

    margin-top: auto;
    margin-bottom: auto;
}

.audiotwo {
    grid-column: 1;
    grid-row: 8/11;
    background-color: white;
    border-radius: 20px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.calldescription {
    grid-column: 2;
    grid-row: 5/11;
    padding-left: 30px;
    font-family: "warbler-text", sans-serif;
    font-weight: 400;
    font-style: normal;

}